table {
    border-collapse: collapse;
}
th, td, table {
    border: 2px solid #1A32EB;
    margin-bottom: 64px;
}
th {
    background-color: #1A32EB;
    color: #E1E3ED;
}
#cierraSes {
    background-color: #517673;
    border-radius: 4px;
    color: #E1E3ED;
}